
	<div class="footer">
		<div class="top">
			<div class="container">
				<ul>
					<li class="small">Touchtunes</li>
					<li><a href="../home">Home</a></li>
					<li class="active"><a href="../about">About us</a></li>
					<li><a href="../technology">Technology</a></li>
					<li><a href="../projects">Projects</a></li>
					<li><a href="../careers">Careers</a></li>
					<li><a href="../contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="bottom">
			<div class="container">
				<div class="half left">
					<div class="half logo">
						<img src="../../img/logo-black-retina.png"/>
					</div>
					<div class="half footer-contact">
						<p class="heading">Contact</p>
						<ul>
							<li><a href="tel:5147626244">Tel: 514.762.6244</a></li>
							<li><a href="tel:5147626483">Fax: 514.762.6483</a></li>
						</ul>
					</div>
				</div>
				<div class="half right">
					<div class="half contact-address">
						<p class="heading">Address</p>
						<ul>
							<li>7250 Rue du Mile End</li>
							<li>Montréal, Québec, H2R 3A4 Canada</li>
						</ul>
					</div>
					<div class="half copy">
						<p class="lang">English - Canada</p>
						<p>© 2016 TouchTunes</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../js/vendor/jquery-1.11.0.min.js"></script>
	<script src="../../js/vendor/modernizr-2.8.0.dev.js"></script>
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/snap.svg-min.js'></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>
	<script src="../../js/vendor/jquery.touchSwipe.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="../../js/vendor/bootstrap.min.js"></script>	
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="../../js/vendor/jquery.validate.min.js"></script>
	<script src="../../js/vendor/bootstrap-select.min.js"></script>
	<script src="../../js/vendor/additional-methods.min.js"></script>
	<script src="../../js/graphs.js"></script>
	<script src="../../js/main.js"></script>

	</body>
	
</html>
