<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="{{description}}">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="../styles/fonts/stylesheet.css">   	
		<link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/bootstrap-select.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" type="text/css" href="../styles/index.css"> 
		<meta charset="UTF-8">
	</head>
	<body>
	<div class="overlay"></div>
	<div class="header">
		<a class="menu-button">
			
		</a>

		<a class="french">FR</a>
	</div>
