<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="{{description}}">
    <link rel="alternate" hreflang="x-default" href="http://montreal.touchtunes.com/en/home/" />
    <meta name="google-site-verification" content="eLTrdx8anTYfx58pFNmdgj8C_pWs9op009fjg4qYBX4" />
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon" />
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="http://montreal.touchtunes.com/img/logo-black-retina.png" />
    <link rel="stylesheet" type="text/css" href="../../styles/fonts/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../../styles/vendor/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/vendor/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="../../styles/index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
