<div class="menu">
	<div class="container">
		<div class="menu-header">
			<a class="close menu-button" href="javascript:void(0)"></a>	
		</div>
	</div>
	<div class="content">
		<ul class="list">
			<li><a href="../home" class="">Home</a></li>
			<li><a href="../about">About us</a></li>
			<li><a href="../technology">Technology</a></li>
			<li><a href="../projects">Projects</a></li>
			<li><a href="../careers">Careers</a></li>
			<li><a href="../contact">Contact</a></li>
		</ul>
		<div class="container">
			<div class="application">
				<h2 class="underline">Join the crew</h2>
				<p>Over 90 Montreal-based employees and growing. Come break some records with us!</p>	

				<form id="menu">
					<input type="text" placeholder="First Name" id="name"/>
					<input type="email" placeholder="Email" id="email" />
					<div class="file-wrapper">
						<label class="ie-placeholder" style="">Upload resume</label>
						<input class="uploadFile" placeholder="Upload resume" />
						<div class="fileUpload">
						    <span></span>
						    <input type="file" class="upload uploadBtn" id="resume"/>
						</div>
					</div>

					<label>Social Profile</label>
					<input class="link" type="email" placeholder="Add link (i.e.: LinkedIn)" id="link" />

					<a class="button" id="submit-crew">Send Application</a>
				</form>		
			</div>
		</div>
	</div>
</div>
