<div class="menu">
	<div class="container">
		<div class="menu-header">
			<a class="close menu-button" href="javascript:void()"></a>	
		</div>
	</div>
	<div class="content">
		<ul class="list">
			<li><a href="../home" class="active">Home</a></li>
			<li><a href="../about">About us</a></li>
			<li><a href="../technology">Technology</a></li>
			<li><a href="../projects">Projects</a></li>
			<li><a href="../careers">Careers</a></li>
			<li><a href="../contact">Contact</a></li>
		</ul>
		<div class="container">
			<div class="application">
				<h2 class="underline">Crew</h2>
				<p>Over 80 Montreal-based employees and growing. Come break some records with us!</p>	

				<form>
					<input type="text" placeholder="First Name"/>
					<input type="email" placeholder="Email"/>
					<textarea placeholder="Resume text"></textarea>

					<label>Social Profile</label>
					<input class="link" type="email" placeholder="Add link (i.e.: LinkedIn)"/>

					<a class="button">Send Application</a>
				</form>		
			</div>
		</div>
	</div>
</div>
