<div class="menu">
	<div class="container">
		<div class="menu-header">
			<a class="close menu-button" href="javascript:void(0)"></a>	
		</div>
	</div>
	<div class="content">
		<ul class="list">
			<li><a href="../home" class="">Accueil </a></li>
			<li><a href="../about">À propos</a></li>
			<li><a href="../technology">Technologies</a></li>
			<li><a href="../projects">Projets</a></li>
			<li><a href="../careers">Carrières </a></li>
			<li><a href="../contact">Communiquez avec nous</a></li>
		</ul>
		<div class="container">
			<div class="application">
				<h2 class="underline">Faites partie du groupe</h2>
				<p>Le studio de Montréal compte plus de 90 employés et leur nombre ne cesse de croître. Venez fracasser les records en notre compagnie!</p>	

				<form id="menu">
					<div class="loader"></div>
					<label class="ie-placeholder" style="">First Name</label>
					<input required  type="text" placeholder="First Name" name="first-crew" id="first-crew"/>
					<label class="ie-placeholder" style="">Last Name</label>
					<input required  type="text" placeholder="Last Name" name="last-crew" id="last-crew"/>
					<label class="ie-placeholder" style="">City</label>
					<input required  type="text" placeholder="City" name="city-crew" id="city-crew"/>
					<label class="ie-placeholder" style="">Country</label>
					<input required  type="text" placeholder="Country" name="country-crew" id="country-crew"/>
					<label class="ie-placeholder" style="">Phone</label>
					<input required  type="text" placeholder="Phone" name="phone-crew" id="phone-crew"/>
					<label class="ie-placeholder" style="">Email</label>
					<input required  type="text" placeholder="Email" name="email-crew" id="email-crew" />
					<div class="file-wrapper">
						<label class="ie-placeholder" style="">Upload resume</label>
						<input  class="uploadFile" placeholder="Upload resume"  />
						<div class="fileUpload">
						    <span></span>
						    <input required type="file" class="upload uploadBtn" name="resume" id="resume-crew"/>
						</div>
					</div>

					<div class="file-wrapper">
						<label class="ie-placeholder" style="">Upload Cover letter</label>
						<input  class="uploadFile" placeholder="Upload Cover letter" />
						<div class="fileUpload">
						    <span></span>
						    <input type="file" class="upload uploadBtn" name="coverletter" id="cover-crew" />
						</div>
					</div>

					<label>Social Profile</label>
					<label class="ie-placeholder" style="">Add link (i.e.: LinkedIn)</label>
					<input class="link" type="text" placeholder="Add link (i.e.: LinkedIn)" id="linkedin-crew" />
					<label class="ie-placeholder" style="">Add link (i.e.: Facebook)</label>
					<input class="link" type="text" placeholder="Add link (i.e.: Facebook)" id="facebook-crew" />

					<div class="file-wrapper">
						<label class="ie-placeholder" style="">Add attachment</label>
						<input class="uploadFile" placeholder="Add attachment" />
						<div class="fileUpload">
						    <span></span>
						    <input type="file" class="upload uploadBtn" name="attachment" id="attachment-crew"/>
						</div>
					</div>

					<input type="submit" class="button" id="submit-crew" value="Envoyer une demande d’emploi" />
				</form>		
			</div>
		</div>
	</div>
</div>
