<div class="job-modal">
	<div class="container">
		<a class="close modal" href="javascript:void(0)"></a>
		<h2>Postulez un emploi à TouchTunes</h2>
		<p class="title"></p>
		<div class="content">
			<p>Nous vous remercions d’envisager de faire carrière à TouchTunes.
Prendre quelques minutes pour remplir le formulaire suivant. Quand vous
aurez terminé, un courriel contenant tous les renseignements sur la
manière de vérifier l’état de votre demande vous sera envoyé.</p>

			<form id="modal-form" class="fr">
				<p>Informations personnelles</p>
				<span>* indique un champ obligatoire</span>
				<div class="loader"></div>

				<input type="hidden" class="apply-for" value="" id="job" />
				<label class="ie-placeholder" style="">Prénom *</label>
				<input type="text" placeholder="Prénom *" name="first-app" id="first-app" />
				<label class="ie-placeholder" style="">Surnom *</label>
				<input type="text" placeholder="Surnom *" name="last-app" id="last-app" />
				<label class="ie-placeholder" style="">Ville *</label>
				<input type="text" placeholder="Ville *" name="city-app" id="city-app" />
				<label class="ie-placeholder" style="">Pays *</label>
				<input type="text" placeholder="Pays *" name="country-app" id="country-app" />
				<label class="ie-placeholder" style="">Courriel *</label>
				<input type="text"placeholder="Courriel *" name="email-app" id="email-app" />
				<label class="ie-placeholder" style="">Téléphone *</label>
				<input type="text" placeholder="Téléphone *" name="phone-app" id="phone" />

				<div class="file-wrapper">
					<label class="ie-placeholder" style="">Télécharger votre résumé</label>
					<input class="uploadFile" placeholder="Télécharger votre résumé" />
					<div class="fileUpload">
					    <span></span>
					    <input required type="file" class="upload uploadBtn" name="resume-app" id="resume-app" />
					</div>
				</div>

				<div class="file-wrapper">
					<label class="ie-placeholder" style="">Télécharger votre lettre de présentation</label>
					<input class="uploadFile" placeholder="Télécharger votre lettre de présentation" />
					<div class="fileUpload">
					    <span></span>
					    <input type="file" class="upload uploadBtn" name="cover" id="cover" />
					</div>
				</div>

				<div class="social-info">
					<label>Réseaux sociaux</label>
					<label class="ie-placeholder" style="">Ajouté lien (i.e.: LinkedIn)</label>
					<input class="link" type="url" placeholder="Ajouté lien (i.e.: LinkedIn)" id="linkedin" name="linkedin"/>
					<label class="ie-placeholder" style="">Ajouté lien (i.e.: Facebook)</label>
					<input class="link" type="url" placeholder="Ajouté lien (i.e.: Facebook)" id="facebook" name="facebook" />
				</div>
				<div class="bottom">
					<div class="file-wrapper">
						<label class="ie-placeholder" style="">Ajouté des documents</label>
						<input class="uploadFile" placeholder="Ajouté des documents" />
						<div class="fileUpload">
						    <span></span>
						    <input type="file" class="upload uploadBtn" name="attachment" id="attachment" />
						</div>
					</div>
					<input type="submit" class="button pink" id="submit-application" value="Envoyer une demande d’emploi"/>
				</div>
			</form>
		</div>
	</div>
</div>
