{{> header }}
{{> menu }}
{{> modal }}
<div class="about-wrapper">
	{{> header }}
	<div class="banner">
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">What we're all about</h1>
   				<div class="text-container small">
   					<p>Our story began right here in Montreal in 1998 with the release of the world’s first pay-for-play digital jukebox. Since then, we have transformed into a multi-application platform offering a variety of engaging and interactive experiences. TouchTunes is one of only a few platforms able to deliver end-to-end in-venue interactive entertainment solutions, encompassing hardware, software and network operations. </p>
   				</div>
			</div>

			<a class="button" target="_blank" href="http://touchtunes.com/">Visit TouchTunes.com</a>		
			<p class="small-screen learn-more cts">Learn more</p>
		</div>
	</div>
	<div class="staff scroll-to">
		<div class="container">

			<h2 class="underline dark">Who's working</h2>
			<div class="text-container small">
				<p class="small-screen">TT MTL is the production and operation engine of TT corp. Which looks like this:</p>
				<p class="big-screen">Our story began right here in Montreal in 1998 with the release of the world’s first pay-for-play digital jukebox. Since then, we have transformed into a multi-application platform offering a variety of engaging and interactive experiences. TouchTunes is one of only a few platforms able to deliver end-to-end in-venue interactive</p>
				<a class="button big-screen" href="../careers">Join the crew</a>
			</div>
			<div class="animation">
				<div class="panel">
					<div class="graph">
						<div class="graph-bd">
							<div class="graph-bd-md">
								<svg id="svg"></svg>
							</div>
							<div class="graph-bd-text">
								<ul>
									<li class="js-graphItem" data-val="70" data-color="#36abdc"><span>65%</span> Engineering Software / Hardware</li>
									<li class="js-graphItem" data-val="40" data-color="#65bde2"><span>20%</span> Operations</li>
									<li class="js-graphItem" data-val="30" data-color="#93cee7"><span>10%</span> IT & infrastructure</li>
									<li class="js-graphItem" data-val="15" data-color="#c1dfed"><span>5%</span> HR & Finance</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="worldwide">
		<div class="container">
			<h2>With over 71,000 active Jukes worldwide, we appear in more locations than Mcdonald's and Starbucks combined. </h2>
		</div>
	</div>
	<div class="band">
		<div class="container">
			<h2 class="underline dark">The Band</h2>
			<div class="text-container small"></div>
			<p class="small-screen">Although TouchTunes MTL is a collaborative of over 80 employees, here are a few highlighted members of our band</p>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
					<p class="bio big-screen"><span>Biography:</span> How to make it in America</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../img/member-placeholder.png">
				</div>
				<div class="half">
					<p><span>Jerry</span></p>
					<p><span>Bowskill</span></p>
					<p><span class="position">CTO</span></p>
					<p>TouchTunes is the largest in-venue interactive music and entertainment. TouchTunes is the largest in-venue interactive music and entertainment.</p>
				</div>
				<p class="bio small-screen"><span>Biography:</span> How to make it in America</p>
			</div>
		</div>
	</div>
	<div class="counter">
		<div class="container">
			<div class="text-container small">
				<h3><span class="count">26</span>
						TouchTunes tracks
						have started since
						this page opened
				</h3>
			</div>
		</div>
	</div>

</div>
{{> footer }}
