{{> htmlhead }}
{{> header_fr }}
{{> menu_fr }}
{{> modal_fr }}
<div class="about-wrapper">
	{{> header_fr }}
	<div class="banner">
		<div class="opacity">
		</div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Qui nous sommes vraiment</h1>
   				<div class="text-container small">
   					<p>Tout a commencé ici même, à Montréal, en 1998, lors de la sortie du premier juke-box numérique fonctionnant selon le principe de l’utilisateur payeur. Depuis, nous l’avons transformé en une plateforme à applications multiples qui offre diverses expériences participatives et interactives. TouchTunes est l’une des seules plateformes offrant un système interactif complet de divertissement à l’intérieur des établissements qui prend en compte le matériel, les logiciels et les opérations en réseau.</p>
   				</div>
			</div>

			<a class="button" target="_blank" href="http://touchtunes.com/">Visitez le site www.TouchTunes.com </a>		
			<p class="small-screen learn-more cts">Pour en apprendre davantage</p>
		</div>
	</div>
	<div class="staff scroll-to">
		<div class="container">

			<h2 class="underline dark">L’équipe du studio de Montréal</h2>
			<div class="text-container small">
				<p >TouchTunes Montréal est le moteur de la production et des opérations de TouchTunes Corp. et ses activités sont plus ou moins réparties de la manière suivante :</p>
				<a class="button big-screen" href="../careers">Rejoindre l'équipage</a>
			</div>
			<div class="animation">
				<div class="panel">
					<div class="graph">
						<div class="graph-bd">
							<div class="graph-bd-md">
								<svg id="svg"></svg>
							</div>
							<div class="graph-bd-text">
								<ul>
									<li class="js-graphItem" data-val="70" data-color="#36abdc"><span>65%</span> Ingénierie</li>
									<li class="js-graphItem" data-val="40" data-color="#65bde2"><span>12%</span>  Contenu et opérations</li>
									<li class="js-graphItem" data-val="30" data-color="#93cee7"><span>18%</span> TI et infrastructure</li>
									<li class="js-graphItem" data-val="15" data-color="#c1dfed"><span>5%</span> Ressources humaines et finance</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="worldwide">
		<div class="container">
			<h2>Comme nous avons plus de 60 000 juke-boxes opérationnels en Amérique du Nord, nous sommes présents dans plus d’endroits que McDonald’s et Starbucks combinés.</h2>
		</div>
	</div>
	<div class="band">
		<div class="container">
			<h2 class="underline dark">Faites connaissance avec les membres du groupe</h2>
			<div class="text-container small"></div>
			<p>TouchTunes Montréal est une entreprise collaborative de plus de 90 employés. Faites la connaissance de quelques-uns des membres de notre groupe!</p>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-malena.jpg">
				</div>
				<div class="half">
					<img class="small-screen"  src="../../img/member-malena.jpg">
					<p><span>Malena</span></p>
					<p><span>Montoya</span></p>
					<p><span class="position"> - Développeuse sénior d'applications mobiles</span></p>
					<p>Sur une île déserte, tout ce dont Malena aurait vraiment besoin pour survivre se résume ainsi : un cocktail à la noix de coco et la chanson Kokomo, des Beach Boys. Et encore, les secours pourraient prendre leur temps! Si ce n’était que d’elle, tous les Montréalais auraient droit à une journée de congé ainsi qu’à la gratuité illimitée le jour de leur anniversaire. Votez pour Malena! Malena a aussi un cœur en or et rêve sérieusement de devenir une superhéroïne. D’ailleurs, si on ne lui accordait ne serait-ce qu’une journée d’immortalité, elle utiliserait son superpouvoir pour agir en tant que bouclier humain afin de protéger les autres. En ce moment, Malena mène une opération de cueillette de renseignements afin de découvrir QUI est Charlie avant de se lancer à sa recherche...</p>
					<p class="bio big-screen"><span>Biographie :</span>  Une personnalité toute en nuances
					</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span>  Une personnalité toute en nuances
				</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-naeija.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-naeija.jpg">
					<p><span>Najeia</span></p>
					<p><span>Khan</span></p>
					<p><span class="position"> - Analyste TV</span></p>
					<p>La maîtresse zen Najeia aimerait pouvoir méditer au son apaisant la chanson Desert Rose, de Sting, sur une île déserte. Même les animaux sortiraient de leur cachette pour entonner Kumbaya en sa compagnie tant elle est de nature douce! Si on lui accordait une journée d’immortalité, elle attendrait probablement que celle-ci soit terminée. Ça, c’est ce qui s’appelle avoir atteint le niveau d’illumination 500! Najeia n’a toujours pas trouvé Charlie, mais elle soupçonne fortement qu’il se trouve à Vegas, parce que ce qui se passe à Vegas… (roulement de tambour)</p>
					<p class="bio big-screen"><span>Biographie :</span> Papillon</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Papillon</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-pascal.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-pascal.jpg">
					<p><span>Pascal</span></p>
					<p><span>Haché</span></p>
					<p><span class="position"> - Responsable technique, juke-box
					</span></p>
					<p>En grand optimiste qu’il est, si Pascal se retrouvait coincé sur une île déserte, il allumerait un feu en frottant des branches au rythme de Never give you up, de Rick Astley. Il dit que le pire cadeau qu’il a reçu à ce jour est un couteau suisse. « À quoi ça sert? », demande-t-il! Gageons que ce cadeau aurait été utile sur une île déserte. N’est-ce pas, Pascal?! Par contre, il n’a pas eu besoin de ce couteau pour trouver Charlie. Selon lui, il est juste derrière vous!</p>
					<p class="bio big-screen"><span>Biographie :</span> Victoire épique</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Victoire épique</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-remi.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-remi.jpg">
					<p><span>Rémi</span></p>
					<p><span>Desmarais</span></p>
					<p><span class="position"> - Directeur de plateforme</span></p>
					<p>Si jamais vous cherchez Rémi par un beau dimanche pas si tranquille à Montréal, il est probablement en train de jouer au ultimate Frisbee dans l’un des nombreux parcs de la ville. Vous n’avez qu’à suivre le son de DJ Easy Rock ou de toute chanson de rap ou de ska jamaïcain des années 80 jouant à tue-tête, et vous le trouverez. Rémi dit que le pire cadeau qu’il n’ait jamais reçu est son mal de dos (merci, Maman!). Dommage que les gênes ne viennent pas avec une facture permettant de les échanger. Pour ce qui est de Charlie, il pense qu’il pourrait se trouver quelque part avec toutes les chaussettes manquantes de l’univers, dans le trou noir du sèche-linge…</p>
					<p class="bio big-screen"><span>Biographie :</span> Est-il vraiment nécessaire d’en choisir une seule?</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Est-il vraiment nécessaire d’en choisir une seule?</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-ben.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-ben.jpg">
					<p><span>Benjamin</span></p>
					<p><span> H.J Nettleship</span></p>
					<p><span class="position"> - Technicien en qualité des logiciels – Opérations liées aux produits
					</span></p>
					<p>Avide de connaissances, si Ben pouvait faire adopter une loi municipale, il exigerait que chaque personne lise au moins un nouveau livre par mois. Vous ne lisez pas vite? Bonne chance! S’il pouvait être immortel pendant une journée, il vêtirait une armure, monterait en selle et participerait à quelques rondes d’une joute. Deux contre un pour Ben! Ben n’en peut plus qu’on se demande où est Charlie. Pourquoi n’y a-t-il personne qui demande COMMENT va Charlie? N’y a-t-il donc personne qui se soucie de son bien-être? Ne t’en fais pas, Charlie. Ben est là pour toi.</p>
					<p class="bio big-screen"><span>Biographie :</span> Testeur professionnel, écrivain à temps partiel et rêveur à temps plein</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Testeur professionnel, écrivain à temps partiel et rêveur à temps plein</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-yien.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-yien.jpg">
					<p><span>Yien </span></p>
					<p><span> You Truang</span></p>
					<p><span class="position"> - Chef de projet, Assurance de la qualité – Opérations liées aux services aux plateformes
					</span></p>
					<p>Pour retrouver le Mexicain en lui, Yien You aime aller aux 3 Amigos lors d’un #dimanchetranquille, car rien n’est synonyme d’un petit dimanche tranquille à Montréal comme des nachos et des sombreros. Si on lui accordait 24 heures d’immortalité, il combattrait Floyd Mayweather. « Ne serait-ce que pour avoir la chance de lui donner un bon coup, je suis prêt à me faire mettre KO. » Il a déjà reçu un parapluie troué en cadeau. Vraiment pas génial. Yien You pense que Charlie est retraité et qu’il se la coule douce sur une plage, quelque part.</p>
					<p class="bio big-screen"><span>Biographie :</span> Le parcours du prodige</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Le parcours du prodige</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-patrice.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-patrice.jpg">
					<p><span>Patrice</span></p>
					<p><span> Mondor</span></p>
					<p><span class="position"> - Producteur, Jukebox OS</span></p>
					<p>S’il y a une chose que souhaite Patrice dans la vie, c’est de pouvoir tourner à droite aux feux rouges à Montréal! D’ailleurs, s’il avait la chance d’être immortel pendant 24 heures, il passerait la journée entière à tourner à droite à tous les feux rouges.</p>
					<p class="bio big-screen"><span>Biographie :</span> La vie, entre autres</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> La vie, entre autres</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-ken.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-ken.jpg">
					<p><span>Ken </span></p>
					<p><span>Phillips</span></p>
					<p><span class="position"> - Producteur senior, Plateforme</span></p>
					<p>S’il était perdu sur une île déserte, Ken opterait, en toute logique, pour la chanson thème des Joyeux naufragés. Vous ne trouvez pas que c’est plein de bon sens? S’il pouvait être immortel l’espace d’une journée, il utiliserait tout simplement son état divin pour récupérer d’une nuit passée à un concert de retrouvailles du groupe Me, Mom and Morgentaler. Pour ce qui est de la recherche de Charlie, Ken a invoqué le cinquième amendement. (Nous pensons qu’il est un agent double…)</p>
					<p class="bio big-screen"><span>Biographie :</span> Comme un foutu rayon de soleil</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Comme un foutu rayon de soleil</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-ludwig.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-ludwig.jpg">
					<p><span>Ludwig</span></p>
					<p><span> Gamache</span></p>
					<p><span class="position"> - Directeur du système d’information</span></p>
					<p>Ludwig est un homme de famille. Ça ne lui dérangerait pas vraiment d’être perdu sur une île déserte, tant que ses enfants sont là pour qu’il puisse s’amuser avec eux et que la chanson Piano Man, de Billy Joel, joue en boucle. S’il pouvait faire passer une loi municipale, il éliminerait tous les véhicules à moteur de la ville de Montréal. Adieu bouchons de circulation! Quelqu’un est partant pour une petite séance de jogging en groupe? D’après Ludwig, si vous cherchez toujours Charlie, vous feriez mieux de demander à Waldo.</p>
					<p class="bio big-screen"><span>Biographie :</span> Comment en faire plus</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Comment en faire plus</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-quentin.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-quentin.jpg">
					<p><span>Quentin</span></p>
					<p><span> Gallet</span></p>
					<p><span class="position"> - VP Production</span></p>
					<p>Quentin, s’il se retrouvait perdu sur une île déserte, passerait ses journées à jouer à Monopoly (édition classique) avec ses deux enfants et ses nuits à se laisser bercer au doux son de la chanson Strangers In The Night, de Frank Sinatra. Si on lui en donnait la chance, il passerait une loi à Montréal exigeant de tous les citoyens qu’ils possèdent « au moins un vélo », la prochaine étape consistant bien sûr à les inciter à l’utiliser… Il est en outre convaincu que si personne ne trouve Charlie, c’est tout simplement parce qu’il est resté coincé en 1984.</p>
					<p class="bio big-screen"><span>Biographie :</span>  M**de. Je me lance!</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span>  M**de. Je me lance!</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-jerry.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-jerry.jpg">
					<p><span>Jerry</span></p>
					<p><span> Bowskill</span></p>
					<p><span class="position"> - Dirigeant principal de la technologie</span></p>
					<p>Pour Jerry, ce qui importe, ce sont les petites choses simples de la vie. Il ferait adopter une loi permettant à tous ceux qui portent des chaussures Chuck Taylor (totalement justifiable) et qui dansent au son de classiques des années 80 de Queen de prendre le métro gratuitement. Il est en faveur des vibrations positives, mais ne lui offrez surtout pas une audiocassette des plus grands succès des Beach Boys, même si elle comprend le titre Good Vibrations (ce n’était pas beau à voir). Jerry a trouvé Charlie à l’endroit suivant : 44,4800° de latitude N. et 69,1200° de longitude O.</p>
					<p class="bio big-screen"><span>Biographie :</span> Ouvert, comme dans Open (désolé, Agassi)</p>
				</div>
				<a href="javascript:void(0)" class="more small-screen">En savoir plus</a>
				<p class="bio small-screen"><span>Biographie :</span> Ouvert, comme dans Open (désolé, Agassi)</p>
			</div>

			<div class="member">
				<div class="half img">
					<img src="../../img/member-placeholder.jpg">
				</div>
				<div class="half">
					<img class="small-screen" src="../../img/member-placeholder.jpg">
					<p><span class="other">90 + membres</p>
				</div>
			</div>
		</div>
	</div>
	<div class="counter">
		<div class="container">
			<div class="text-container small">
				<h3><span class="count">26</span> De chansons de TouchTunes qui ont commencé à jouer depuis que vous êtes arrivé sur la présente page
				</h3>
			</div>
		</div>
	</div>

</div>
{{> footer_fr }}
