{{> menu }}
{{> modal }}

<div class="careers-wrapper">
	{{> header }}
	<div class="banner">
		<div class="container">
			<div class="text-container small">
   				{{{contents}}}
			</div>

			<a class="button cts" href="javascript:void()">See available posts</a>		
			<p class="cts learn-more small-screen">Learn more</p>
		</div>
	</div>
	<div class="opportunities scroll-to">
		<div class="container">
			<h2 class="underline dark">All opportunities</h2>		
			<p>We’re looking for some fresh talent. Take a look at our current openings in Montreal. </p>
			<div class="positions">
				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button apply" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button apply" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button apply" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button apply" href="javascript:void()">Apply now</a>		
				</div>
			</div>
		</div>
	</div>
	<div class="process">
		<div class="container">
			<h2 class="underline">Our process</h2>
			<p>There’s method to our madness. We’re not looking for temporary fixes but rather long-term contributors who will feel comfortable as one of our own. Don't sweat it, we're not into interrogations we just want to get to know you.  </p>	
			<div class="devider">
				<div class="quarter">
					<span class="circle">1</span>
					<h3>Lets talk</h3>
					<p>We start with a phone call for a first chat so we can introduce TouchTunes and get to know more about you. </p>
				</div>
				<div class="quarter">
					<span class="circle">2</span>
					<h3>Come for a visit</h3>
					<p>Come visit our offices for a 2nd chat and get a feel for our company culture. </p>
				</div>
				<div class="quarter">
					<span class="circle">3</span>
					<h3>Meet the crew</h3>
					<p>The 3rd meet is all about you. You can request to meet specific players and potential teammates and see what they are working on. </p>
				</div>
				<div class="quarter">
					<span class="circle">4</span>
					<h3>Join us</h3>
					<p>You like us. We like you. Welcome aboard!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contact">
		<div class="container">
			<div class="text-container">
				<h2 class="underline">Don’t see your specialty in our openings?</h2>
				<p>If your skillset doesn’t correspond to any of the current opportunities, apply anyway! Be the player we never knew we needed!</p>
				<a class="button blue apply" href="#">Apply Now</a>
			</div>			
		</div>
	</div>	
</div>

{{> footer }}