{{> htmlhead }}
{{> menu }}
{{> modal }}

<div class="careers-wrapper">
	{{> header }}
	<div class="banner">
		<div class="container">
			<div class="text-container small">
   				{{{contents}}}
			</div>

			<a class="button cts" href="javascript:void(0)">See available posts</a>		
			<p class="cts learn-more small-screen">Learn more</p>
		</div>
	</div>
	<div class="opportunities scroll-to">
		<div class="container">
			<h2 class="underline dark">All opportunities</h2>		
			<p>We’re looking for some fresh talent. Take a look at our current openings in Montreal. </p>
			<div class="positions">
				<!-- {{#each collections.jobs}}
        <div>
        	<div class="text-container">
						<p class="title">{{this.title}}<span class="location"> - {{this.location}}</span></p>
						{{{this.contents}}}
					</div>
					<a class="more" href="javascript:void(0)">Read more</a>
					<a class="button apply" data-title="{{this.title}} - {{this.location}}" href="javascript:void(0)">Apply now</a>
				</div>
        {{/each}} -->
        <script id="gnewtonjs" type="text/javascript" src="//newton.newtonsoftware.com/career/iframe.action?clientId=8a7882674ed84215014ee1240ec103cb"></script>
			</div>
		</div>
	</div>
	<div class="process">
		<div class="container">
			<h2 class="underline">Our process</h2>
			<p>There’s method to our madness. We’re not looking for temporary fixes but rather long-term contributors who will feel comfortable as one of our own. Don't sweat it, we're not into interrogations we just want to get to know you.  </p>	
			<div class="devider">
				<div class="quarter">
					<span class="circle">1</span>
					<h3>Lets talk</h3>
					<p>We start with a phone call for a first chat so we can introduce TouchTunes and get to know more about you. </p>
				</div>
				<div class="quarter">
					<span class="circle">2</span>
					<h3>Come for a visit</h3>
					<p>Come visit our offices for a 2nd chat and get a feel for our company culture. </p>
				</div>
				<div class="quarter">
					<span class="circle">3</span>
					<h3>Meet the crew</h3>
					<p>The 3rd meet is all about you. You can request to meet specific players and potential teammates and see what they are working on. </p>
				</div>
				<div class="quarter">
					<span class="circle">4</span>
					<h3>Join us</h3>
					<p>You like us. We like you. Welcome aboard!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contact">
		<div class="container">
			<div class="text-container">
				<h2 class="underline">Don’t see your specialty in our openings?</h2>
				<p>If your skillset doesn’t correspond to any of the current opportunities, apply anyway! Be the player we never knew we needed!</p>
				<a class="button blue apply" data-title="" >Work with us</a>
			</div>			
		</div>
	</div>	
</div>

<script type="text/javascript">
	$(window).load(function() {
		function sandboxIframe() {
		  if($('#gnewtonIframe').length) {
		    $('#gnewtonIframe').attr('sandbox', true);
		  } else {
		    setTimeout(sandboxIframe, 100);
		  }
		}

		sandboxIframe();
	});

</script>

{{> footer }}
