{{> menu }}

<div class="careers-wrapper">
	{{> header }}
	<div class="banner">
		<div class="container">
			<div class="text-container small">
   				{{{contents}}}
			</div>

			<a class="button" href="javascript:void()">See available posts</a>		
			<p class="small-screen">Learn more</p>
		</div>
	</div>
	<div class="opportunities">
		<div class="container">
			<h2 class="underline dark">Opportunities</h2>		
			<p>We are always looking to add new talent to our roster </p>
			<div class="positions">
				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>
			</div>
		</div>
	</div>
	<div class="process">
		<div class="container">
			<h2 class="underline">Our Hiring Process</h2>
			<p>TouchTunes Montreal has rapidly become a go-to music and entertainment platform since introducing the first </p>	
			<div class="devider">
				<div class="quarter">
					<span class="circle">1</span>
					<h3>Let’s talk</h3>
					<p>TouchTunes is the largest in-venue interactive usic and entertainment a blah blah </p>
				</div>
				<div class="quarter">
					<span class="circle">2</span>
					<h3>Show your work</h3>
					<p>TouchTunes is the largest in-venue interactive usic and entertainment a blah blah </p>
				</div>
				<div class="quarter">
					<span class="circle">3</span>
					<h3>Meet the team</h3>
					<p>TouchTunes is the largest in-venue interactive usic and entertainment a blah blah </p>
				</div>
				<div class="quarter">
					<span class="circle">4</span>
					<h3>Join TouchTunes</h3>
					<p>TouchTunes is the largest in-venue interactive usic and entertainment a blah blah </p>
				</div>
			</div>
		</div>
	</div>
	<div class="contact">
		<div class="container">
			<div class="text-container">
				<h2 class="underline">Don’t see your specialty in our openings?</h2>
				<p>If your skillset doesn’t correspond to any of the current opportunities, apply anyway! Be the player we never knew we needed!</p>
				<a class="button blue" href="#">Apply Now</a>
			</div>			
		</div>
	</div>	
</div>

{{> footer }}