{{> header }}
{{> menu }}
{{> modal }}
<div class="contact-wrapper">
	{{> header }}
	<div class="banner">
		<div class="gray-overlay"></div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Get in Touch<span>tunes</span></h1>
   					<p class="small-screen">You have questions, or just want to learn more about TouchTunes Montreal? Send us a shout, we want to hear from you</p>
   					<p class="medium-screen">TouchTunes MTL recognizes and values the importance of strong team members and is always on the lookout for fresh thinkers. Our growth is based on the collaborative efforts and determination of our players. We encourage an emphasis on their ability to lean on each other’s experiences and absorb knowledge while growing amongst our ranks. We invite you to take part in an environment that will stimulate your curiosity and engage your drive. </p>
   					<a class="button medium-screen" href="../careers">learn more</a>
			</div>

			<div id="contact-map" class="contact-map"></div>
			<div class="small-screen">
				<a class="button" href="javascript:void()">Montreal address</a>	
				<div class="text-container small">
					<p>400 Ste. Croix Avenue, Suite 200E</p>
					<p>St. Laurent, Quebec </p>
					<p>H4N 3L4 Canada</p>
					<p>Fax: 514.762.6483</p>
					<p>Tel: 514.762.6244</p>
				</div>	
			</div>
			<p class="cts small-screen">Send us a message</p>
		</div>
	</div>
	<div class="form scroll-to">
		<div class="medium-screen">
			<h2>Montreal Address</h2>
			<p>400 Ste. Croix Avenue, Suite 200E</p>
			<p>St. Laurent, Quebec </p>
			<p>H4N 3L4 Canada</p>
			<p>Fax: 514.762.6483</p>
			<p>Tel: 514.762.6244</p>
			<h2 class=>Send a Message</h2>
		</div>
		
		<div class="container">
			<form>
				<input type="text" placeholder="First Name"/>
				<input type="text" placeholder="Last Name"/>
				<input type="email" placeholder="Email"/>
				<select class="selectpicker" title="Country">
					<option>Srbija</option>
				</select>
				<textarea placeholder='Message'></textarea>
				<a class="button">Send Message</a>
			</form>
		</div>
	</div>
	<div class="devider"></div>
	
</div>
{{> footer }}
