{{> header }}
{{> menu }}
{{> modal }}
<div class="contact-wrapper">
	{{> header }}
	<div class="banner">
		<div class="gray-overlay"></div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Get in Touch<span>tunes</span></h1>
   					<p class="small-screen">If you have any questions about TouchTunes Mtl, we likely have the answers and if you’ve got ideas, we’re all ears. We want to hear from you.</p>
   					<p class="medium-screen">If you have any questions about TouchTunes Mtl, we likely have the answers and if you’ve got ideas, we’re all ears. We want to hear from you.</p>
   					<a class="button medium-screen" href="../careers">learn more</a>
			</div>

			<div id="contact-map" class="contact-map"></div>
			<div class="small-screen">
				<a class="button" href="javascript:void(0)">Montreal address</a>	
				<div class="text-container small">
					<p>400 Ste. Croix Avenue, Suite 200E</p>
					<p>St. Laurent, Quebec </p>
					<p>H4N 3L4 Canada</p>
					<p>Fax: 514.762.6483</p>
					<p>Tel: 514.762.6244</p>
				</div>	
			</div>
			<p class="cts small-screen">Send us a message</p>
		</div>
	</div>
	<div class="form scroll-to">
		<div class="medium-screen">
			<h2>Montreal Address</h2>
			<p>400 Ste. Croix Avenue, Suite 200E</p>
			<p>St. Laurent, Quebec </p>
			<p>H4N 3L4 Canada</p>
			<p>Fax: 514.762.6483</p>
			<p>Tel: 514.762.6244</p>
			<h2 class=>Send a Message</h2>
		</div>
		
		<div class="container">
			<form id="contact">
				<input type="text" placeholder="First Name" id="first-contact" />
				<input type="text" placeholder="Last Name" id="last-contact" />
				<input type="email" placeholder="Email" id="email-contact" />
				<select class="selectpicker" title="Country" id="country-contact" >
					<option>Srbija</option>
				</select>
				<textarea placeholder='Message' id="message"></textarea>
				<a class="button" id="submit-contact">Send Message</a>
			</form>
		</div>
	</div>
	<div class="devider"></div>
	
</div>
{{> footer }}
