{{> htmlhead }}
{{> header }}
{{> menu }}
{{> modal }}
<div class="error-wrapper">
	{{> header }}
	<div class="banner">
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Error 404</h1>
   					<p> Sorry, something seems  to have happened while you were browsing.
Please try refreshing the page or going back to a previous page.</p>
			</div>
			<div class="buttons">
				<a href="" onclick="location.reload();">Refresh</a>
				<a href="" onclick="window.history.back();">Go Back</a>
			</div>
		</div>
	</div>
	
	
</div>
{{> footer }}
