{{> htmlhead_fr }}
{{> menu_fr }}
{{> modal_fr }}
<div class="error-wrapper">
	{{> header_fr }}
	<div class="banner">
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Erreur 404</h1>
   					<p> Désolé , quelque chose semble s'être produit pendant que vous naviguez. S'il vous plaît essayez de rafraîchir la page ou revenir à la page précédente .</p>
			</div>
			<div class="buttons">
				<a href="" onclick="location.reload();">Rafraîchir</a>
				<a href="" onclick="window.history.back();">Retourner</a>
			</div>
		</div>
	</div>
	
	
</div>
{{> footer_fr }}
