{{> htmlhead }}
{{> menu_fr }}
{{> modal_fr }}
<div class="home-wrapper">
	{{> header_fr }}
	<div class="banner">
		<div class="white-overlay">
			<span class="ld">
				
			</span>
		</div>
		<div class="animation-placeholder"></div>
	</div>
	<div class="container">
		<div class="work">
			<h2>Travailler avec TouchTunes Montréal</h2>
			<p>Au diapason de la révolution numérique depuis 1998</p>
			<a class="button" href="../about">En apprendre plus</a>
			<p class="learn-more cts">pour en apprendre davantage</p>
		</div>
	</div>
	<div class="about scroll-to">
		<div class="container">
			<img class="underline" src="../../img/logo-white-retina.png"/>
			<div class="text-container small">
				<p>TouchTunes est rapidement devenue une plateforme de musique et de divertissement incontournable depuis le lancement du premier juke-box entièrement numérique. Au cours des années, la société a affiché une importante croissance, et elle a maintenant des équipes énergiques situées à Montréal, à New York, à Chicago et à Londres. Elle offre ses produits dans plus de 71 000 emplacements en Amérique du Nord et en Europe. Le studio de Montréal constitue le cœur de la production et des opérations de TouchTunes Corp. L’équipe travaille sans relâche à la conception de nombreux projets interactifs, lui permettant ainsi de participer et de laisser sa marque à une époque où tout évolue à un rythme effréné.</p>
			</div>
			<a class="button white" href="../about">À propos</a>
		</div>
	</div>
	<div class="technology">
		<div class="container">
			<h2 class="underline dark">Technologie: <span>Le geek, c’est chic</span></h2>
			<div class="text-container small">
				<p>À titre de geeks autoproclamés, il n’y a rien que nous aimons mieux que d’utiliser les technologies les plus récentes et les plus novatrices afin d’optimiser la qualité de nos projets.</p>
			</div>
			<div class="images">
				
			</div>
			<a class="button blue" href="../technology">Pour en savoir plus</a>
		</div>
	</div>
	<div class="projects">
		<div class="container">
			<h2 class="underline dark">Projets</h2>
			<div class="text-container small">
				<p>TouchTunes se compose de plusieurs unités de travail qui se complètent afin de faire fonctionner un système interactif complet de divertissement.</p>
			</div>
			<div class="stacks">
				<a href="../projects/#mobile" class="stack mobile">
					<span>Mobile</span>
				</a>

				<a href="../projects/#platform" class="stack platform">
					<span>Plateforme</span>
				</a>

				<a href="../projects/#tv" class="stack attract">
					<span>Attract <span class="light">TV<span></span>
				</a>

				<a href="../projects/#jukebox" class="stack jukebox">
					<span>Juke-box</span>
				</a>

				<a href="../projects/#operations" class="stack operations">
					<span>Opérations</span>
				</a>
			</div>
			<a class="button blue" href="../projects">Voir tous les projets</a>
		</div>
	</div>
	<div class="opportunities">
		<div class="container">
			<h2 class="underline dark">Postes à pourvoir</h2>		
			<p>Nous sommes toujours à la recherche de nouveaux talents. Consultez les offres d’emploi ci-dessous ou remplissez une demande d’emploi et dites-nous pourquoi nous avons besoin de vous au sein de notre équipe.</p>
			<div class="positions">
				{{#each (limit collections.jobs_fr 3)}}
        <div>
        	<div class="text-container">
						<p class="title">{{this.title}}<span class="location"> - {{this.location}}</span></p>
						{{{this.contents}}}
					</div>
					<a class="more fr" href="javascript:void(0)">En savoir plus</a>
					<a class="button apply" data-title="{{this.title}} - {{this.location}}" href="javascript:void(0)">Postuler</a>		
				</div>
        {{/each}}
			</div>
			<a class="button gray" href="../careers">Consulter les offres d’emploi </a>
		</div>
	</div>
	<div class="contact-mail">
		<div class="container">
			<h2 class="underline white">Communiquez avec TouchTunes</h2>
			<div class="big text-container">
				<p>Si vous avez des questions au sujet de TouchTunes Montréal, nous avons probablement les réponses, et si vous avez des idées, nous sommes curieux de les connaître. Nous voulons vous entendre.</p>
			</div>
			<a class="button blue" href="../contact">
				<span class="small"><img src="../../img/mail-icon.png"/></span>
				<span class="big">Courriel</span>
			</a>
		</div>	
	</div>
</div>
{{> footer_fr }}
