<div class="home-wrapper">
	{{> header }}
	{{> menu }}
	<div class="banner">
		<div class="white-overlay"></div>
		
	</div>
	<div class="container">
		<div class="work">
			<h2>Work at TouchTunes Montreal</h2>
			<p>In tune with the digital revolution since 1998</p>
			<a class="button">Apply now</a>
			<p class="learn-more">learn more</p>
		</div>
	</div>
	<div class="about">
		<div class="container">
			<img class="underline" src="/img/logo-white@2x.png"/>
			<div class="text-container small">
				<p>TouchTunes Montreal has rapidly become a go-to music and entertainment platform since introducing the first fully digital jukebox. With over 71,000 locations across North America and Europe, our team has shown no signs of slowing down with the development of multiple interactive projects contributing to a fast-paced era. </p>
			</div>
			<a class="button white" href="/about">About us</a>
		</div>
	</div>
	<div class="technology">
		<div class="container">
			<h2 class="underline dark">Technology: <span>Le geek, c’est chic</span></h2>
			<div class="text-container small">
				<p>As self-proclaimed geeks, there’s nothing we love more than utilizing all the latest, most progressive technologies to optimize the quality our projects.</p>
			</div>
			<div class="images">
				
			</div>
			<a class="button blue" href="/technology">See more</a>
		</div>
	</div>
	<div class="projects">
		<div class="container">
			<h2 class="underline dark">Projects</h2>
			<div class="text-container small">
				<p>TouchTunes has evolved into a multifaceted technology front-runner, encouraging both consumer and developer to engage.</p>
			</div>
			<div class="stacks">
				<div class="stack mobile">
					<span>Mobile</span>
				</div>

				<div class="stack platform">
					<span>Platform</span>
				</div>

				<div class="stack attract">
					<span>Attract TV</span>
				</div>

				<div class="stack jukebox">
					<span>Jukebox</span>
				</div>

				<div class="stack operations">
					<span>Operations</span>
				</div>
			</div>
			<a class="button blue" href="/projects">project page</a>
		</div>
	</div>
	<div class="opportunities">
		<div class="container">
			<h2 class="underline dark">Opportunities</h2>		
			<p>We are always looking to add new talent to our roster </p>
			<div class="positions">
				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>

				<div>
					<div class="text-container">
						<p class="title">Coordinator, Music Marketing<span class="location"> - Montreal, QC</span></p>
						<p class="description">TouchTunes is the largest in-venue interactive usic and entertainment a blah blah</p>
					</div>
					<a class="button" href="javascript:void()">Apply now</a>		
				</div>
			</div>
			<a class="button gray" href="/careers">Go to careers</a>
		</div>
	</div>
	<div class="contact-mail">
		<div class="container">
			<h2 class="underline white">Contact us</h2>
			<div class="big text-container">
				<p>If your skillset doesn’t correspond to any of the current opportunities, apply anyway! Be the player we never knew we needed!</p>
			</div>
			<a class="button blue" href="/contact">
				<span class="small"><img src="/img/mail-icon.png"/></span>
				<span class="big">Contact us</span>
			</a>
		</div>	
	</div>
</div>
{{> footer }}