{{> htmlhead }}
{{> header }}
{{> menu }}
{{> modal }}
<div class="project-wrapper">
	{{> header }}
	<div class="banner">
		<div class="gray-overlay"></div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Project: The Headliners</h1>
				<p>TouchTunes MTL introduced the world to a new age spin on a classic. Our Jukeboxes have evolved over the years not only in hardware but also in terms of its interactive capabilities, from an integrated photobooth to a fully licensed commercial karaoke system and beyond. The TouchTunes jukebox has become a catalyst to parallel projects that originated as valuable sidekicks but today have taken on a mind, a body and now whole teams of their own, each dedicated to rolling out our mission to share a vision, a sound and connect the world, millions of songs at a time.</p>
			</div>
			<a class="cts button">See projects</a>
		</div>
	</div>	
	<div class="tech scroll-to">
		<div class="wrap mobile" id="mobile">
			<div class="container">
				<h2 class="small-screen">Mobile</h2>
				<div class="section mobile">
					<div class="images">
						<img src="../../img/mobile.png">
					</div>

					<p class="small-screen">The TouchTunes Mobile Music app is a sidekick that has your back - we made it to help music lovers find nearby venues and play their favorite songs without leaving their seats. We also made sure that the more you use it, the better the recommendations get. All this intelligent design comes from having mastered Java and Objective-C. Did we mention social network APIs (Facebook, Twitter) and BLE Beacons? Yeah, we’ve got those too, and they allow us to get even closer to user experience nirvana. Throw in our ultimate Agile development process, live and die by automation attitude, and always playing with the latest technology available and we've got a department that can be there anywhere, anytime, and they can dance it up too.</p>
					<div class="text-container">
						<p class="big-screen"><span class="embed">Mobile</span>The TouchTunes Mobile Music app is a sidekick that has your back - we made it to help music lovers find nearby venues and play their favorite songs without leaving their seats. We also made sure that the more you use it, the better the recommendations get. All this intelligent design comes from having mastered Java and Objective-C. Did we mention social network APIs (Facebook, Twitter) and BLE Beacons? Yeah, we’ve got those too, and they allow us to get even closer to user experience nirvana. Throw in our ultimate Agile development process, live and die by automation attitude, and always playing with the latest technology available and we've got a department that can be there anywhere, anytime, and they can dance it up too.</p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="additional">
					<a class="more small-screen">more</a>
					<p class="anthem">Our anthem: “Weapon of Choice” - Fat Boy Slim</p>
					<p class="instruments">Our instruments: Java, Objective-C, Bash, Mixpanel, BLE Beacon, RESTful API, Social Networks, Agents of S.H.I.E.L.D</p>
				</div>
			</div>
		</div>
		<div class="wrap platform" id="platform">
			<div class="container">
				<h2 class="small-screen">Platform</h2>
				<div class="section">
					<div class="images">
						<img src="../../img/platform-image.png">
					</div>

					<p class="small-screen">The Touchtunes Service Platform is the brain of the whole operation. Hidden somewhere in a secret underground lair, the platform has evolved from a client-server architecture supporting only jukeboxes, to a large, high availability, highly scalable stack of RESTful APIs that now supports our mobile application, our AttractTV systems, and powers our third-party integration with some of the leading mobile music services in the world. Our motto is never get paged while we are at the party - we have mastered microservices by boxing up our apps, moving them to clusters, and making sure we can monitor and self recover automatically.
</p>
									<div class="text-container">					
					<p class="big-screen"><span class="embed">Platform</span>The Touchtunes Service Platform is the brain of the whole operation. Hidden somewhere in a secret underground lair, the platform has evolved from a client-server architecture supporting only jukeboxes, to a large, high availability, highly scalable stack of RESTful APIs that now supports our mobile application, our AttractTV systems, and powers our third-party integration with some of the leading mobile music services in the world. Our motto is never get paged while we are at the party - we have mastered microservices by boxing up our apps, moving them to clusters, and making sure we can monitor and self recover automatically.
</p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="additional">
					<a class="more small-screen">more</a>
					<p class="anthem">Our anthem: Platform: "Renegades of Funk" - Rage Against the Machine</p>
					<p class="instruments">Our instruments: Spring, Python, Node.js, Docker, AngularJS, Apache Mesos, Redis, PHP, AWS, RabbitMQ, Spark, Sharks with Freakin’ lasers.</p>
				</div>
			</div>
		</div>

		<div class="wrap tv" id="tv">
			<div class="container">
				<h2 class="small-screen">Attract TV</h2>
				<div class="section tv">
					<div class="images">
						<img src="../../img/attractTV.png">
					</div>

					<p class="small-screen">Attract TV is the new kids on the TouchTunes team, making the next generation of interactive entertainment and integrating an innovative and interactive content experience which allows patrons to engage with TV content using their mobile devices. We utilize HTML5, CSS3, WebGL, and Canvas like it was a part of our bodies. Our hardware uses embedded Linux built with the Yocto project, allowing for a finely-grained customization of the operating system. We leverage hardware video decoders and GPU for fluid playback, and develop SDK tools for third party development. We follow Agile methodology to release regular content improvements in lightening fast, short cycles. The team is focused on creating awesome, visually-unique content and experiences . We roll out and take no prisoners.
</p>
									<div class="text-container">
					<p class="big-screen"><span class="embed">Attract TV</span>Attract TV is the new kids on the TouchTunes team, making the next generation of interactive entertainment and integrating an innovative and interactive content experience which allows patrons to engage with TV content using their mobile devices. We utilize HTML5, CSS3, WebGL, and Canvas like it was a part of our bodies. Our hardware uses embedded Linux built with the Yocto project, allowing for a finely-grained customization of the operating system. We leverage hardware video decoders and GPU for fluid playback, and develop SDK tools for third party development. We follow Agile methodology to release regular content improvements in lightening fast, short cycles. The team is focused on creating awesome, visually-unique content and experiences . We roll out and take no prisoners.
</p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="additional">
					<a class="more small-screen">more</a>
					<p class="anthem">Our anthem: "Video Killed The Radio Star" - The Buggles</p>
					<p class="instruments">Our instruments: HTML5, CSS3 and CSS3 Animations, WebGL, AJAX, Canvas, JQuery, JavaScript, Grunt, Yocto, Freescale, every Internet meme ever invented</p>
				</div>
				
			</div>
		</div>

		<div class="wrap jukebox" id="jukebox">
			<div class="container">
				<h2 class="small-screen">Jukebox</h2>
				<div class="section jukebox">
					<div class="images">
						<img src="../../img/jukebox.png">
					</div>

					<p class="small-screen">The team that started it all, we are the classic rock of the company, the Free Birds who develop the TouchTunes jukebox software and the user interface and look great doing it. The team won’t stop believing in the OS, kernel, drivers, client/servers, and video/sound/image processing. A day does not go by without a spirited discussion on technology, the best way to prank a colleague’s desk, and strange potato chip flavours we have tried.  Group lunches and after work activities included, quirky personalities sold separately.  
</p>
									<div class="text-container">
					<p class="big-screen"><span class="embed">Jukebox</span>The team that started it all, we are the classic rock of the company, the Free Birds who develop the TouchTunes jukebox software and the user interface and look great doing it. The team won’t stop believing in the OS, kernel, drivers, client/servers, and video/sound/image processing. A day does not go by without a spirited discussion on technology, the best way to prank a colleague’s desk, and strange potato chip flavours we have tried.  Group lunches and after work activities included, quirky personalities sold separately.  
</p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="additional">
					<a class="more small-screen">more</a>
					<p class="anthem">Our anthem: "Get Up, Stand Up” - Bob Marley</p>
					<p class="instruments">Our instruments: Linux, C, GStreamer, D-Bus, Clutter, Jabber, ALSA, JACK, Jenkins, Yocto, the One Ring</p>
				</div>
			</div>
		</div>

		<div class="wrap operations" id="operations">
			<div class="container">
				<h2 class="small-screen">Operations</h2>
				<div class="section operations">
					<div class="images">
						<img src="../../img/platform.png">
					</div>

					<p class="small-screen">TouchTunes Operations teams are the workhorses of the company, comprising database experts, quality assurance analysts and SQL ninjas.
Team Information Services is the technological bedrock of the company, the intelligence and recon team that turns data into information. We bring order to the flow generated by every customer interaction, wielding a variety of technologies keep a watchful eye on the company’s informational inflow and outflow.
Team Platform Services designs, develops and maintains TouchTunes’ server, micro services systems and REST APIs for our Jukebox, Mobile, Attract TV and B2B applications. We take pride in building and maintaining the underlying technology at the heart of our products’ uptime and reliability. We leverage cutting-edge technologies to make sure the core of all TouchTunes products are resolute and rock solid. Biceps are easy. We’re all about the six-pack.
Team Product Operations are the Guardians of Customer Experience who work on TouchTunes customer-facing products, like Jukebox, Mobile and AttractTV, ensuring that the vision of our designers is conveyed to our customers with each interaction. We’re a rare breed whose quality assurance philosophy is one part role playing, one part planning, and two parts Sherlock Holmes. From dependable hardware, to bug-free software, to making sure the “batteries are included” – we’re on the case.
</p>
									<div class="text-container">
					<p class="big-screen"><span class="embed">Operations</span>TouchTunes Operations teams are the workhorses of the company, comprising database experts, quality assurance analysts and SQL ninjas.
Team Information Services is the technological bedrock of the company, the intelligence and recon team that turns data into information. We bring order to the flow generated by every customer interaction, wielding a variety of technologies keep a watchful eye on the company’s informational inflow and outflow.</p><p>
Team Platform Services designs, develops and maintains TouchTunes’ server, micro services systems and REST APIs for our Jukebox, Mobile, Attract TV and B2B applications. We take pride in building and maintaining the underlying technology at the heart of our products’ uptime and reliability. We leverage cutting-edge technologies to make sure the core of all TouchTunes products are resolute and rock solid. Biceps are easy. We’re all about the six-pack.</p><p>
Team Product Operations are the Guardians of Customer Experience who work on TouchTunes customer-facing products, like Jukebox, Mobile and AttractTV, ensuring that the vision of our designers is conveyed to our customers with each interaction. We’re a rare breed whose quality assurance philosophy is one part role playing, one part planning, and two parts Sherlock Holmes. From dependable hardware, to bug-free software, to making sure the “batteries are included” – we’re on the case.
</p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="additional">
					<a class="more small-screen">more</a>
					<p class="anthem">Our anthem: “This Is How We Do It” by Montel Jordan  </p>
					<p class="instruments">Our instruments: Oracle SQL, Oracle BI, Cloud, Java, PHP and Python, DynamoDB, RabbitMQ, Amazon Web Services</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contact">
		<div class="container">
			<h2 class="underline dark">Want to join?</h2>
			<div class="text-container small">
				<p>We are always looking to add new talent to our roster. </p>
			</div>
			<div class="big-screen">
				<a class="button blue big-screen" href="../careers">Work with us</a>
			</div>
			<a class="button pink small-screen" href="../careers">Work with us</a>
		</div>
	</div>
</div>
{{> footer }}
