{{> header }}
{{> menu }}
{{> modal }}
<div class="technology-wrapper">
	{{> header }}
	<div class="banner">
		<div class="gray-overlay"></div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Our favorite toys</h1>
				<p>Music is the core of TouchTunes MTL and the technologies we use are the instruments that drive us to continuously progress and innovate. Our Juke, Mobile, Platform and Attract TV teams put a lot of emphasis on utilizing progressive technology that can engage the millennial. TouchTunes MTL strives to operate with the most cutting edge technologies in order to not only stay ahead of the curve, but create the curve that propels social change into social standards. As far as we’re concerned, our limitations begin and end with the technologies that are available, the rest is up to you. </p>
			</div>
			<a class="cts button">See technologies</a>
		</div>
	</div>	
	<div class="tech scroll-to">
		<div class="wrap first">
			<div class="container">
				
				<div class="section">
					<div class="images">
						<img class="small-scereen" src="../img/tech-icon-1.png">
						<img class="small-screen" src="../img/tech-icon-2.png">
						<img class="small-screen" src="../img/tech-icon-1.png">
					</div>

					<p class="small-screen">TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.</p>
					<div class="text-container">
						<p class="big-screen"><span class="embed">Products</span>The mobile music apps allow users to play songs without ever leaving their seat and offer users a more tailored experience with social features and customized playlists to help perfect their DJ sets!  The TouchTunes mobile team is comprised of industry veterans from Activision.The mobile music apps allow users to play songs without ever leaving their seat and offer users a more tailored experience with social features and customized playlists to help perfect their DJ sets!  The TouchTunes mobile team is comprised of industry veterans from Activision
						</p>
					</div>
				</div>

				<a class="more small-screen">more</a>
				<div class="links">
					<a>Linux, GStreamer, Clutter, DBus, EMacs & Vi(in equal doses)</a>
				</div>
			</div>
		</div>
		<div class="wrap second">
			<div class="container">
				<h2 class="small-screen">Data</h2>
				<div class="section">
					<div class="images">
						<img class="small-scereen" src="../img/tech-icon-3.png">
						<img class="small-screen" src="../img/tech-icon-4.png">
						<img class="small-screen" src="../img/tech-icon-5.png">
					</div>

					<p class="small-screen">TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.</p>
									<div class="text-container">					
					<p class="big-screen"><span class="embed">Data</span>The mobile music apps allow users to play songs without ever leaving their seat and offer users a more tailored experience with social features and customized playlists to help perfect their DJ sets!  The TouchTunes mobile team is comprised of industry veterans from Activision. The mobile music apps allow users to play songs without ever leaving their seat and offer users a more tailored experience with social features and customized playlists to help perfect their DJ sets!  The TouchTunes mobile team is comprised of industry veterans from Activision.</p>
					</div>
				</div>
				<a class="more small-screen">more</a>

				<div class="links">
					<a >RabbitMQ, Python, ELK, AWK, Redis, Awesome-Sauce</a>
				</div>
			</div>
		</div>

		<div class="wrap third">
			<div class="container">
				<h2 class="small-screen">Execution</h2>
				<div class="section">
					<div class="images">
						<img class="small-scereen" src="../img/tech-icon-6.png">
						<img class="small-screen" src="../img/tech-icon-7.png">
						<img class="small-screen" src="../img/tech-icon-8.png">
					</div>

					<p class="small-screen">TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.TouchTunes is the largest in-venue interactive music and entertainment.
					TouchTunes is the largest in-venue interactive music and entertainment.</p>
									<div class="text-container">
					<p class="big-screen"><span class="embed">Execution</span>The mobile music apps allow users to play songs without ever leaving their seat and offer users a more tailored experience with social features and customized playlists to help perfect their DJ sets!  The TouchTunes mobile team is comprised of industry veterans from Activision. The mobile music apps allow users to play songs without ever leaving their seat and offer users a more tailored experience with social features and customized playlists to help perfect their DJ sets!  The TouchTunes mobile team is comprised of industry veterans from Activision.</p>
					</div>
				</div>
				<a class="more small-screen">more</a>

				<div class="links">
					<a>Docker, Apache Mesos, Load Balancing, Service Discovery, Ansible, Jenkins, Epicness-As-A-Service</a>
				</div>
			</div>
		</div>
	</div>
	<div class="list">
		<div class="container">
			<p>We also work with:</p>

			<ul>
				<li>Guerrit</li>
				<li>Jenkins</li>
				<li>Puppet</li>
				<li>Mesos</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Python</li>
				<li>Linux</li>
				<li>AWS</li>
				<li>Docker</li>
				<li>Mysql</li>
				<li>Oracle</li>
				<li>DynamoDB</li>
				<li>Redis</li>
				<li>RabbitMQ</li>
				<li>AngularJS</li>
				<li>GWT</li>
				<li>Javascript</li>
			</ul>
			<ul>
				<li>Guerrit</li>
				<li>Jenkins</li>
				<li>Puppet</li>
				<li>Mesos</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Python</li>
				<li>Linux</li>
				<li>AWS</li>
				<li>Docker</li>
				<li>Mysql</li>
				<li>Oracle</li>
				<li>DynamoDB</li>
				<li>Redis</li>
				<li>RabbitMQ</li>
				<li>AngularJS</li>
				<li>GWT</li>
				<li>Javascript</li>
			</ul>
			<ul>
				<li>Guerrit</li>
				<li>Jenkins</li>
				<li>Puppet</li>
				<li>Mesos</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Python</li>
				<li>Linux</li>
				<li>AWS</li>
				<li>Docker</li>
				<li>Mysql</li>
				<li>Oracle</li>
				<li>DynamoDB</li>
				<li>Redis</li>
				<li>RabbitMQ</li>
				<li>AngularJS</li>
				<li>GWT</li>
				<li>Javascript</li>
			</ul>

			<ul class="big-screen">
				<li>Guerrit</li>
				<li>Jenkins</li>
				<li>Puppet</li>
				<li>Mesos</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Python</li>
				<li>Linux</li>
				<li>AWS</li>
				<li>Docker</li>
				<li>Mysql</li>
				<li>Oracle</li>
				<li>DynamoDB</li>
				<li>Redis</li>
				<li>RabbitMQ</li>
				<li>AngularJS</li>
				<li>GWT</li>
				<li>Javascript</li>
			</ul>

			<ul class="big-screen">
				<li>Guerrit</li>
				<li>Jenkins</li>
				<li>Puppet</li>
				<li>Mesos</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Python</li>
				<li>Linux</li>
				<li>AWS</li>
				<li>Docker</li>
				<li>Mysql</li>
				<li>Oracle</li>
				<li>DynamoDB</li>
				<li>Redis</li>
				<li>RabbitMQ</li>
				<li>AngularJS</li>
				<li>GWT</li>
				<li>Javascript</li>
			</ul>
		</div>
	</div>
	<div class="percentage">
		<div class="container">

			<h2 class="underline dark">What's working</h2>
			<div class="text-container small">
				<p class="small-screen">TouchTunes is the largest in-venue interactive music and entertainment </p>
				<p class="big-screen">Our story began right here in Montreal in 1998 with the release of the world’s first pay-for-play digital jukebox. Since then, we have transformed into a multi-application platform offering a variety of engaging and interactive experiences. TouchTunes is one of only a few platforms able to deliver end-to-end in-venue interactive</p>
				<a class="button big-screen" href="../projects">See our projects</a>
			</div>
			<div class="animation">
				<div class="panel">
					<div class="graph">
						<div class="graph-bd">
							<div class="graph-bd-md">
								<svg id="svg"></svg>
							</div>
							<div class="graph-bd-text">
								<ul>
									<li class="js-graphItem" data-val="70" data-color="#e14e7e"><span>65%</span> Python</li>
									<li class="js-graphItem" data-val="40" data-color="#e5779b"><span>20%</span> Android</li>
									<li class="js-graphItem" data-val="30" data-color="#e89fb8"><span>10%</span> Amazon</li>
									<li class="js-graphItem" data-val="15" data-color="#ecc8d6"><span>5%</span> Google</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="employees">
					<p><span>200+</span>Employees like working with our tech.</p>
				</div>
			</div>			
		</div>
	</div>
	<div class="contact">
		<div class="container">
			<h2 class="underline dark">Want to join?</h2>
			<div class="text-container small">
				<p>We are always looking to add new talent to our roster. </p>
			</div>
			<div class="big-screen">
				<a class="button blue big-screen" href="../contact">Contact us</a>
			</div>
			<a class="button pink apply small-screen">Work with us</a>
		</div>
	</div>
</div>
{{> footer }}
