{{> htmlhead }}
{{> menu_fr }}
{{> modal_fr }}
<div class="technology-wrapper">
	{{> header_fr }}
	<div class="banner">
		<div class="gray-overlay"></div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Technologies – Nos jouets préférés</h1>
				<p>La musique est au cœur de TouchTunes Montréal et les technologies sont les instruments qui nous permettent de progresser et d’innover continuellement. Nos équipes Juke-box, Mobile, Plateforme et Attract TV s’efforcent d’utiliser les technologies les plus novatrices non seulement pour rester à l’avant-garde, mais aussi pour créer de nouvelles tendances qui feront en forte que les nouveautés sociales deviendront des normes sociales et s’ancreront dans le millénaire. De notre point de vue, les seules limites sont les technologies à notre disposition. Pour le reste, il n’en tient qu’à vous.</p>
			</div>
			<a class="cts button">Voir technologies</a>
		</div>
	</div>	
	<div class="tech scroll-to">
		<div class="wrap">
			<div class="container">
				<h2>Produits</h2>
				<div class="section">
					<div class="images">
						<img  src="../../img/tech-icon-6.png">
						<img  src="../../img/tech-icon-7.png">
						<img  src="../../img/tech-icon-8.png">
					</div>
						<p><span class="embed big-screen">Produits</span>Nos ingénieurs de produit sont les chasseurs de tempêtes, les vétérans de la société, le corps d’élite que nous envoyons pour affronter des océans de code, des tsunamis de signaux audio et des ouragans de pixels. Ils sont devenus des guerriers zen dans leur combat pour obtenir un design épuré et intelligent.
Ces personnes dévouées collaborent pour communier avec l’essence de Linux, ne faire qu’un avec les courants multimédias et peindre des pixels à la manière experte des artistes travaillant à l’aide des outils les plus performants afin de créer des codes d’une grande beauté. Leurs missions se traduisent par des fêtes se déroulant sans heurt, des gens dansant au rythme des millions de chansons jouées chaque jour et des vies illuminées par la puissance d’une musique exceptionnelle.</p>
				</div>	
				<a class="more small-screen">En savoir plus</a>
				<div class="links">
					<a>Linux, GStreamer, Clutter, DBus, EMacs & Vi(en parts égales)</a>
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="container">
				<h2>Données</h2>
				<div class="section">
					<div class="images">
						<img src="../../img/tech-icon.png">
						<img src="../../img/tech-icon-1.png">
						<img src="../../img/tech-icon-2.png">
					</div>
					
					<p><span class="embed big-screen">Données</span>"Si un arbre tombe dans une forêt et que personne n’est présent pour entendre le bruit qu’il fait, est-ce qu’un son a été produit? » Grâce à notre serveur RabbitMQ, la réponse est oui. L’arbre en question a avisé notre système de messagerie pour que tous en soient informés. Mieux encore, nous savons quand tombera chaque feuille et où elle touchera le sol. Et il ne s’agit pas ici que d’un seul arbre, mais bien d’une forêt fluviale d’information, d’un torrent de données tourbillonnant constamment. Notre système de messagerie est la pierre angulaire de notre plateforme. Notre plateforme est la fondation même de nos produits. Nos produits sont présents partout. Faites le calcul.</p>
				</div>
				<a class="more small-screen">En savoir plus</a>

				<div class="links">
					<a >RabbitMQ, Python, ELK, AWK, Redis, Awesome-Sauce</a>
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="container">
				<h2>Exécution</h2>
				<div class="section">
					<div class="images">
						<img src="../../img/tech-icon-3.png">
						<img src="../../img/tech-icon-4.png">
						<img src="../../img/tech-icon-5.png">
					</div>
					<p><span class="embed big-screen">Exécution</span>Avez-vous déjà observé une colonie de fourmies s’organiser pour contourner un obstacle? Nous, oui (sur Internet), et cela nous a donné quelques idées (enfin, surtout aux mordus de LEGO). Nous nous sommes donc dit que si les fourmis avaient des blocs LEGO, elles régneraient sur le monde. (Oui, tout cela mène quelque part!)
Nous voulions créer un système résistant et doté d’un mécanisme d’autoréparation. Nous avons donc intégré notre code dans des images Docker et laissé les conteneurs s’organiser de manière autonome pour que nous n’ayons pas à le faire. C’est comme une construction en blocs LEGO automatisée. Vive nos ingénieuses fourmis suzeraines!</p>
				</div>
				<a class="more small-screen">En savoir plus</a>

				<div class="links">
					<a>Docker, Apache Mesos, Load Balancing, Service Discovery, Ansible, Jenkins, Service épique</a>
				</div>
			</div>
		</div>
	</div>
	<div class="percentage">
		<div class="container">

			<h2 class="underline dark">Technologie TouchTunes – Les joueurs clés</h2>
			<div class="text-container small">
				<p >À TouchTunes Montréal, toutes les technologies méritent notre attention. Voici celles qui figurent en haut de notre palmarès.
</p>
				<a class="button big-screen" href="../projects">Voir nos projets</a>
			</div>
			<div class="animation">
				<div class="panel">
					<div class="graph">
						<div class="graph-bd">
							<div class="graph-bd-md">
								<svg id="svg"></svg>
							</div>
							<div data-pie-id="svg" class="graph-bd-text">
								<ul data-pie-id="svg">
									<li data-value="35"><span>35%</span> Java</li>
									<li data-value="20"><span>20%</span> Python</li>
									<li data-value="20"><span>20%</span> Amazon</li>
									<li data-value="5"><span>5%</span> PowerPoint (pour que les gestionnaires ne se mêlent pas des codes)</li>
									<li data-value="5"><span>5%</span> Air guitar</li>
									<li data-value="15"><span>15%</span> Café</li>
								</ul>
								<div id="svg"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="employees">
					<p>Plus de 90 employés aiment travailler avec notre technologie</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="contact">
		<div class="container">
			<h2 class="underline dark">Vous voulez vous joindre à nous?</h2>
			<div class="text-container small">
				<p>Nous sommes toujours à la recherche de nouveaux talents</p>
			</div>
			<div class="big-screen">
				<a class="button blue big-screen" href="../careers">Travailler avec nous</a>
			</div>
			<a class="button pink small-screen"  href="../careers">Travailler avec nous</a>
		</div>
	</div>
</div>
{{> footer_fr }}
