{{> htmlhead }}
{{> header }}
{{> menu }}
{{> modal }}
<div class="technology-wrapper">
	{{> header }}
	<div class="banner">
		<div class="gray-overlay"></div>
		<div class="container">
			<div class="text-container small">
   				<h1 class="underline">Our favorite toys</h1>
				<p>Music is the core of TouchTunes MTL and technologies are the instruments that drive us to continuously progress and innovate. Our Jukebox, Mobile, Platform and Attract TV teams strive to operate with the most cutting edge technologies in order to not only stay ahead of the curve, but to create the curve that propels social change into social standards and engage the millennial. The way we see it our limitations begin and end with the technologies that are available, the rest is up to you.</p>
			</div>
			<a class="cts button">See technologies</a>
		</div>
	</div>	
	<div class="tech scroll-to">
		<div class="wrap">
			<div class="container">
				<h2>Products</h2>
				<div class="section">
					<div class="images">
						<img  src="../img/tech-icon-6.png">
						<img  src="../img/tech-icon-7.png">
						<img  src="../img/tech-icon-8.png">
					</div>
						<p><span class="embed big-screen">Products</span>Our product engineers are the battle-tested storm chasers of the company, the elite unit we send in to engage seas of code, tsunamis of audio signals, and hurricanes of pixels. They have become Zen warriors in their fight for clean and intelligent design.
These dedicated individuals come together to commune with the Linux kernel, be one with multimedia streams, and paint pixels with the expert hands of artists working with the most efficient tools to achieve the beauty of a piece of code.  Their missions result in parties continuing without a hitch, people dancing to the beat of millions of tracks being played every day, and lives made just a little brighter through the power of a great song.</p>
				</div>	
				<a class="more small-screen">more</a>
				<div class="links">
					<a>Linux, GStreamer, Clutter, DBus, EMacs & Vi(in equal doses)</a>
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="container">
				<h2>Data</h2>
				<div class="section">
					<div class="images">
						<img src="../img/tech-icon.png">
						<img src="../img/tech-icon-1.png">
						<img src="../img/tech-icon-2.png">
					</div>
					
					<p><span class="embed big-screen">Data</span>"If a tree falls in a forest and nobody's around to hear it, does it make a sound?”  With our RabbitMQ server, the answer is yes - that falling tree notified our messaging system so that everyone knows. Better yet, we know when every leaf falls and where it's going to hit the forest floor. We are not talking about one lonely zen tree of information here, picture a rain forest with a torrential downpour of data whirling around constantly. Our messaging strategy is the backbone of our platform.  Our platform is the foundation of our products.  Our products are everywhere.  Do the math.</p>
				</div>
				<a class="more small-screen">more</a>

				<div class="links">
					<a >RabbitMQ, Python, ELK, AWK, Redis, Awesome-Sauce</a>
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="container">
				<h2>Execution</h2>
				<div class="section">
					<div class="images">
						<img src="../img/tech-icon-3.png">
						<img src="../img/tech-icon-4.png">
						<img src="../img/tech-icon-5.png">
					</div>
					<p><span class="embed big-screen">Execution</span>Ever spent time watching an ant colony self-organize around obstacles? We did (on the Internet), and it gave us (mostly the Lego maniacs) a few ideas. We started thinking, if ants had Lego, they would rule the world. Trust us, this is going somewhere.
We wanted to build resiliency and self-repair into our system, so we packed our code inside Docker images and let the containers re-arrange themselves so that we wouldn’t have to. It's like automated Lego construction with data. All hail our ingenious ant overlords!</p>
				</div>
				<a class="more small-screen">more</a>

				<div class="links">
					<a>Docker, Apache Mesos, Load Balancing, Service Discovery, Ansible, Jenkins, Epicness-As-A-Service</a>
				</div>
			</div>
		</div>


		<!-- {{#each collections.tech}}
       

		<div class="wrap">
			<div class="container">
				<h2 class="small-screen">{{this.title}}</h2>
				<div class="section">
					<div class="images">
						<img src="../img/{{this.img1}}.png">
						<img src="../img/{{this.img2}}.png">
						<img src="../img/{{this.img3}}.png">
					</div>

					<p class="small-screen">Ever spent time watching an ant colony self-organize around obstacles? We did (on the Internet), and it gave us (mostly the Lego maniacs) a few ideas. We started thinking, if ants had Lego, they would rule the world. Trust us, this is going somewhere.
We wanted to build resiliency and self-repair into our system, so we packed our code inside Docker images and let the containers re-arrange themselves so that we wouldn’t have to. It's like automated Lego construction with data. All hail our ingenious ant overlords!
.</p>
									<div class="text-container">
					<p class="big-screen"><span class="embed">{{this.title}}</span>{{{this.contents}}}
</p>
					</div>
				</div>
				<a class="more small-screen">more</a>

				<div class="links">
					<a>{{this.related}}</a>
				</div>
			</div>
		</div>

		 {{/each}} -->


	</div>
	<div class="percentage">
		<div class="container">

			<h2 class="underline dark">What's working</h2>
			<div class="text-container small">
				<p class="small-screen">TouchTunes is the largest in-venue interactive music and entertainment </p>
				<p class="big-screen">Our story began right here in Montreal in 1998 with the release of the world’s first pay-for-play digital jukebox. Since then, we have transformed into a multi-application platform offering a variety of engaging and interactive experiences. TouchTunes is one of only a few platforms able to deliver end-to-end in-venue interactive</p>
				<a class="button big-screen" href="../projects">See our projects</a>
			</div>
			<div class="animation">
				<div class="panel">
					<div class="graph">
						<div class="graph-bd">
							<div class="graph-bd-md">
								<svg id="svg"></svg>
							</div>
							<div data-pie-id="svg" class="graph-bd-text">
								<ul data-pie-id="svg">
									<li data-value="35"><span>35%</span> Java</li>
									<li data-value="20"><span>20%</span> Python</li>
									<li data-value="20"><span>20%</span> Amazon</li>
									<li data-value="5"><span>5%</span> PowerPoint </li>
									<li data-value="5"><span>5%</span> Air guitar</li>
									<li data-value="15"><span>15%</span> Coffee</li>
								</ul>
								<div id="svg"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="employees">
					<p><span>90+</span>Employees like working with our tech.</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="contact">
		<div class="container">
			<h2 class="underline dark">Want to join?</h2>
			<div class="text-container small">
				<p>We are always looking to add new talent to our roster. </p>
			</div>
			<div class="big-screen">
				<a class="button blue big-screen" href="../contact">Contact us</a>
			</div>
			<a class="button pink apply small-screen">Work with us</a>
		</div>
	</div>
</div>
{{> footer }}
